<form ng-submit='addItem(newItem)' name="list">
<!--attaches itself to the submitt button, creates a get & gather the info to post -->
	<label>item</label>

	<input type="text" placeholder="" ng-model="newItem.name">

	<label>quantity</label>
	<input type="text" placeholder="" ng-model="newItem.qty">
		<label>priority</label>
		<select ng-model="newItem.priority">
			<option>low</option>
			<option>hmmm</option>
			<option>maybe</option>
			<option>high</option>
		</select>

<hr>
	<button type="submit" class="button">add</button>
</form>
<!--submit button generates list-->
<br>
<center><h3>shopping list</h3></center>

<!--ng-repeat show the list of items and orders the stuff-->
		<li ng-repeat="item in items | orderBy: order">
						qty: {{item.qty}} -
						{{item.name}} -
						priority: {{item.priority}}
						<button id="remove" ng-click="removeItem(item)"><b>X</b></button>

			</li>
		</ul>
	</div>
</div>
<!--generally removes all-->
<center><button ng-click="removeAll()">remove all</button></center>