body {
	margin: 0;
	padding: 0;
	margin-top: -40px;
}

h1 {
	font-family: 'Playfair Display SC', serif;
	color: #333;
	font-size: 25px;
}
h2 {
	font-family: 'Playfair Display SC', serif;
	color: #333
	font-size: 100px;
}
p {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 18px;
}
::selection {
	background: #3333;
}


/* shop head */

header {
	margin: 0 20 20 0;
	width: 100%;
	height: 50%;
	color: #000;
	height: 100px;
	padding: 10px 0px 5px 10px;
	background: white; 
	background-position:; left;
	background-color: #FFF;
}


.backTop {
	width: 75px;
	height: 25px;
	border-radius: 3px 0px 0px 3px;
	padding: 5px 0px 5px 10px;
	float: bottom;
	position: fixed;
	bottom: 50px;
	right: 0px;
	background-color: #ff6bd5;
	z-index: 1;
}

.backTop-btn a {
	text-decoration: none;
	color: #333333;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 14px;
}

#mainNav {
	float: right;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	text-align: center;
	position: relative;
}


#mainNav a {
	text-decoration: none;
	color: #333;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	padding: 25px 0px 00px 0px;
	display: inline-block;
	width: 75px;
	border-radius: 0px;
	transition: all 0.3s ease;
}
#mainNav2 a {
	text-decoration: none;
	color: #333;
	font-family: 'Playfair Display SC', serif;
	font-weight: lighter;
	font-size: 6px;
	text-transform: lowercase;
	display: inline-block;
	width: 105px;
	border-radius: 0px;
	transition: all 0.3s ease;
}

#mainNav a:hover {
	background-color: yellow;
	color: #333333;
	padding: 10px 10px 10px 10px;
}
#mainNav2 a:hover {
	background-color: yellow;
	color: #333333;
}
/* Shop */
#shop {
	width: 100%;
	height: 400px;
	padding: 10px 100px 100px 10px;
	position: relative;
}

.shopflibs {
	background: white url("./img/flab1.gif") center top no-repeat;
	width: 33.33%;
	height: 630px;
	float: left;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 40px;
	position: relative;
}


.shopflabs {
	background: white url("./img/pink_jelly2.png") center center no-repeat;
	width: 33.33%;
	height: 630px;
	float: left;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 40px;
	position: relative;
}

.flabbleslife {
	background: white url("./img/jellyshoe1.png") center center no-repeat;
	width: 33.33%;
	height: 630px;
	float: left;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 40px;
	position: relative;
}

.merchBtn1 {
	border-radius: 3px;
	width: 150px;
	border: 2px solid yellow;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease;
	position: relative;
	top: 80%
}

.merchBtn2 {
	border-radius: 3px;
	width: 150px;
	border: 2px solid #ff6bd5;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease;
	position: relative;
	top: 80%
}

.merchBtn3 {
	border-radius: 3px;
	width: 150px;
	border: 2px solid #2bb1ff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease;
	position: relative;
	top: 80%
}

.merchBtn4 {
	border-radius: 3px;
	width: 150px;
	border: 2px solid #00ad00;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.3s ease;
	position: relative;
	top: 80%
}

.merchBtn1:hover {
	background-color: white;
	border: 3px yellow;
	padding: 20px 20px 20px 20px;

}
.merchBtn2:hover {
	background-color: white;
	border: 3px #ff6bd5;
	padding: 20px 20px 20px 20px;

}
.merchBtn3:hover {
	background-color: white;
	border: 3px #2bb1ff;
	padding: 20px 20px 20px 20px;

}
.merchBtn4:hover {
	background-color: white;
	border: 3px #00ad00;
	padding: 20px 20px 20px 20px;

}
#new {
	clear: both;
	width: 100%;
	height: 400px;
	padding: 0px 0px 0px 0px;
	position: relative;
	background-color: white;
	
}
.h {
	width: 100%;
	height: 0px;
	background-color: white;
	text-align: center;
}

.a {
	background:url("./img/jelly5.png") white center center no-repeat;
	width: 25%;
	height: 400px;
	float: left;
	text-align: center;
	font-family: ;
	font-size: 10px;
	
}


.b {
	background:url("./img/jelly1.png") white center center no-repeat;
	width: 25%;
	height: 400px;
	float: left;
	text-align: center;
	font-family: ;
	font-size: 10px;

}

.c {
	background: url("./img/boot1.jpg") green center center no-repeat;
	width: 25%;
	height: 400px;
	float: left;
	text-align: center;
	font-family: 'Playfair Display SC', serif;;
	font-size: 10px;
	
}
.d {
	background:url("./img/jelly3.jpg") center center no-repeat;
	width: 25%;
	height: 400px;
	float: left;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
	font-size: 10px;
	
}

/*.o {
	background: url("img/SelectsW_1_large.jpg") center center no-repeat;
	width: 20%;
	height: 500px;
	float: left;
	text-align: center;
	font-family: 'Baloo Bhai', cursive;
	font-size: 10px;
	
}
/* new arrials */
/*#new {
	width: 100%;
	background-color: #333333;
	position: relative;
}
.newarrivals {
	background-color: pink;
	height: 500px;
	width: 100%;
	float: left;
	text-align: center;
	font-family: 'Baloo Bhai', cursive;
	position: relative
	
}
/* sales */
#sale {
	clear: both;
	width: 100%;
	height: 460px;
	padding: 30px 0px 30px 0px;
	position: relative;
	background: url("./img/transboots1.png");
	background-color: white;
}

.sale-text {
	width: 75%;
	height: 20px;
	margin: 0px auto 0px auto;
	padding: 0px;
	background: url("");
	border-radius: 3px;
	position: relative;
	text-align: left;
	font-family
	color: orange;
}
#contactsocialnews {
	clear: both;
	width: 100%;
	height: 20px;
	padding: 40px 0px 0px 0px;
	position: relative;
	background-color: white;
}
.social {
	background-color: white;
	width: 32%;
	height: 200px;
	float: left;
	text-align: center;
	font-family:
	font-size: 25px;
	border-right: groove;
	
	
}


.newsletter {
	background-color: white;
	width: 33.5%;
	height: 200px;
	float: left;
	text-align:left;
	font-family: ==
	font-size: 10px;
	border-right: groove;


}

.contact {
	background-color: white;
	width: 33.5%;
	height: 100px;
	float: left;
	text-align: center;
	
	
}

	
/* Footer */
footer {
	width: 100%;
	height: 25px;
	background: url("img/TOO-LIT.jpg");
	position: relative;
	font-size: 1.2em;
	padding:;
	color: red;
	text-align: center;
}

.copyRight {
	width: 100%;
	color: black;
	float: left;
	font-size: 2px;
	text-align: left;
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 23%;
	background-color: #FFF;
}

.copyRight a {

	color: black;
	font-size: 18px;
}

.copyRight a:hover {
	color: black;
	background: yellow;
}

/*.soc-buttons {
	height: 60px;
	padding: 0px 20px 0px 20px;
	position: relative;
	float: left;
}

span.icon a:link {
	display: block;
	text-indent: -9999px;
}

span.insta-button a:link {
	width: 30px;
	height: 30px;
	background: url("img/instagram_icon.png") no-repeat;
	transition: all 0.2s ease;
	float:left;
	padding: 0px 5px 0px 5px;
}

span.insta-button a:hover {
	background-position: 0px -30px;
	overflow: hidden;
}

span.twitter-button a:link {
	width: 30px;
	height: 30px;
	background: url("img/twitter_icon.png")no-repeat;
	transition: all 0.2s ease;
	float: left;
	padding: 0px 5px 0px 5px;
}

span.twitter-button a:hover {
	background-position: 0px -30px;
	overflow: hidden;
}








